<!-- Barra de Busqueda -->
<p style="width: 25%;">Filters</p>
<div id="search" class="row">
  <div class="col">
      <form id="filters" class="input-group mb-3 mt-2">
          <input type="text" name="fbUID" [(ngModel)]="fbUID" class="form-control mr-2" placeholder="UID"/>
          <input type="text" name="fbName" [(ngModel)]="fbName" class="form-control mr-2" placeholder="Name"/>
      </form>
  <!-- <div class="col"> --> 
       <form id="filters" class="input-group mb-3 mt-2">     
          <input type="text" name="fbNick" [(ngModel)]="fbNick" class="form-control mr-2" placeholder="Nick"/>
          <input type="text" name="fbEmail" [(ngModel)]="fbEmail" class="form-control mr-2" placeholder="Email"/>
          <!-- <button class="btn btn-outline-primary" type="submit" >Search</button> -->
      </form>
    <!-- </div> -->
  </div>
</div>

<!-- Cards-->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3" *ngFor="let user of userList | filterUserAdmin: fbUID : fbName : fbNick : fbEmail : config.totalItems | paginate: config">
    <app-card-user [userR]='user'></app-card-user>
  </div>
</div>
<div class="row" id="pags" *ngIf="config.totalItems < config.itemsPerPage">
  <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
</div>

<!-- Tabla de Datos
  
<p style="width: 25%;">Users List</p>
<table id="table" class="table table-hover table-striped mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">FullName</th>
        <th scope="col">NickName</th>
        <th scope="col">Email</th>
        <th scope="col">isAdmin</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody *ngFor="let user of userList | filter: fbUID : fbName : fbNick : fbEmail">
      <tr>
        <td>{{user.fullName}}</td>
        <td>{{user.nickName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isAdmin}}</td>
        <td>
          <button id="#view" class="btn btn-info">
            <i class="far fa-eye"></i>
          </button>
          <button id="delete" class="btn btn-danger" (click)="deleteUser(user.uid)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

-->
