<!-- Barra de Busqueda -->
<p style="width: 25%;">Filters</p>
<div id="search" class="row">
  <div class="col">
      <form id="filters" class="input-group mb-3 mt-2">
          <input type="text" name="fbUID" [(ngModel)]="fbUID" class="form-control mr-2" placeholder="UID"/>
          <input type="text" name="fbName" [(ngModel)]="fbName" class="form-control mr-2" placeholder="Name"/>
      </form>
  <!-- <div class="col"> --> 
       <form id="filters" class="input-group mb-3 mt-2">     
          <input type="text" name="fbNick" [(ngModel)]="fbNick" class="form-control mr-2" placeholder="Nick"/>
          <input type="text" name="fbEmail" [(ngModel)]="fbEmail" class="form-control mr-2" placeholder="Email"/>
          <!-- <button class="btn btn-outline-primary" type="submit" >Search</button> -->
      </form>
    <!-- </div> -->
  </div>
</div>

<!-- Cards-->
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let user of userList | filterUserAdmin: fbUID : fbName : fbNick : fbEmail : config.totalItems | paginate: config">
    <app-card-user [userR]='user'></app-card-user>
  </div>
</div>
<div class="row" id="pags" *ngIf="config.totalItems < config.itemsPerPage">
  <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
</div>