<!--Modal Vista Extendida Publicacion-->
<div class="modal fade opM" tableindex="-1" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Gestión de Usuario</h4>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="pil0 nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">Información</a>
                            <a class="pil1 nav-link" id="v-pills-publications-tab" data-toggle="pill" href="#v-pills-publications" role="tab" aria-controls="v-pills-publications" aria-selected="false">Publicaciones</a>
                            <a class="pil2 nav-link mb-2" id="v-pills-followers-tab" data-toggle="pill" href="#v-pills-followers" role="tab" aria-controls="v-pills-followers" aria-selected="false">Seguidores</a>
                            <a class="pil3 nav-link mb-2" id="v-pills-followed-tab" data-toggle="pill" href="#v-pills-followed" role="tab" aria-controls="v-pills-followed" aria-selected="false">Seguidos</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content" id="v-pills-tabContent">

                            <div class="tab-pane fadeM0 show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                                <div class="row">
                        
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5>ID Usuario</h5>
                                            <span class="form-control">{{userR.uid}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5>Nombre Completo</h5>
                                            <span class="form-control">{{userR.fullName}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">  
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5>Email</h5>
                                            <span class="form-control">{{userR.email}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5>Nickname</h5>
                                            <span class="form-control">{{userR.nickName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane conf fadeM1" id="v-pills-publications" role="tabpanel" aria-labelledby="v-pills-publications-tab">
                                <div *ngFor="let pub of publicationsList" class="media border p-3 gb-white rounder mb-1">
                                    <img src="{{pub.photoURL}}" alt="Publicacion" class="mr-3 mt-3 rounded" width="150px">
                                    <div class="media-body">
                                        <h4>{{pub.title}}</h4>
                                        <p>{{pub.graffiter}}</p>
                                        <div *ngIf="pub.state == 'Buen Estado'">
                                            <span class="badge badge-success">Buen Estado</span> 
                                         </div>
                                         <div *ngIf="pub.state == 'Legible'">
                                             <span class="badge badge-warning">Legible</span> 
                                         </div>
                                         <div *ngIf="pub.state == 'Deteriorado'">
                                             <span class="badge badge-danger">Deteriorado</span> 
                                         </div>
                                         <div *ngIf="pub.state == 'Ilegible'">
                                             <span class="badge badge-dark">Ilegible</span> 
                                         </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane conf fadeM2" id="v-pills-followers" role="tabpanel" aria-labelledby="v-pills-followers-tab">
                                <div *ngFor="let fw of followersList" class="media border p-3 bg-white rounded mb-1">
                                    <div class="row">
                                        <div class="col-lg">
                                          <img src="{{fw.image}}" alt="fd-avatar" class="rounded-circle" width="80px">
                                        </div>
                                        <div class="col-lg">
                                          <div class="media-body mt-3">
                                            <h4>{{fw.nick}}</h4>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="tab-pane conf fadeM3" id="v-pills-followed" role="tabpanel" aria-labelledby="v-pills-followed-tab">
                                <div *ngFor="let fd of followedList" class="media border p-3 bg-white rounded mb-1">
                                    <div class="row">
                                        <div class="col-lg">
                                          <img src="{{fd.image}}" alt="fd-avatar" class="rounded-circle" width="80px">
                                        </div>
                                        <div class="col-lg">
                                          <div class="media-body mt-3">
                                            <h4>{{fd.nick}}</h4>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
