.btn {
  margin-bottom: 4%;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  padding-top: 2%;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#twitter {
  background-color: rgb(29, 161, 242);
  color: white;
}

#facebook {
  background-color: rgb(66, 103, 178);
  color: white;
}

#google {
  background-color: rgb(15, 157, 88);
  color: white;
}

#admin {
  border: 2px solid #444444;
  background-color: #f8f8f8;
  color: #444444;
}

.fas {
  margin-right: 3.8%;
}

.fab {
  margin-right: 5%;
}

p {
  border-radius: 20px;
  font-size: 14pt;
  font-weight: 600;
  font-family: "Helvetica";
  text-align: center;
  text-emphasis: bold;
}

ul {
  list-style: none;
}
