<div class="ml-3 mt-3" id="gallery-profile-links">
    <a class="btn btn-light mr-1"routerLink="/home">Galería</a> 
    <div class="dropdown mr-2">
        <a class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" [routerLink]="['/user-profile', uid]">Ver Perfil</a>
          <a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar Sesión</a>
        </div>
      </div>
</div>

<div id="map" class="map-container"></div>