
<p>Vista usuario logeado</p>
<p>Identificado único de usuario (UID)</p>
<p>{{ uid }}</p>

   <div>
   <p>
    <button class="login btn btn-danger" (click)="signOut()">
        <i class="fas fa-home"></i>
        Log out</button></p>
    </div>
    <div>
        <p>
            <button class="login btn btn-danger" (click)="checkToken()">
                Check Token</button></p>

    </div>
<!--
    <div>
        <p>
            <button class="login btn btn-danger" (click)="verifyIdToken()">
                Check Valid Token</button></p>

    </div>
-->