<app-navbar></app-navbar>

<div class="row mt-5">
    <!--Filtros Cliente-->
    <div class="col-lg-3">
        <h4 class="ml-3">
            Filtros
            <span class="ml-1" style="align-content: center;" *ngIf="isFilter">
                <img class="btn" style="background-color: white;" (click)="getPublications()" style="height: 40px;" src="assets/images/filter-remove.png"/>
            </span>
        </h4>

        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="card bg-light mt-3" style="padding: 10px;">
                    <h5 class="card-title">Título
                        <img class="btn" *ngIf="(title != '')" style="background-color: white;" (click)="clear(1)" style="height: 40px;" src="assets/images/filter-remove-teal.png"/>
                    </h5>
                    <input type="text" class="form-control" name="titulo" (input)="onChange()" [(ngModel)]="title"/>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="card bg-light mt-3" style="padding: 10px;">
                    <h5 class="card-title">Graffitero
                        <img class="btn" *ngIf="(graffiter != '')" style="background-color: white;" (click)="clear(2)" style="height: 40px;" src="assets/images/filter-remove-teal.png"/>
                    </h5>
                    <input type="text" class="form-control" name="graffiter" (input)="onChange()" [(ngModel)]="graffiter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="card bg-light mt-3" style="padding: 10px;">
                    <h5 class="card-title">Temáticas
                        <img class="btn" *ngIf="(themesSelector.length > 0)" style="background-color: white;" (click)="clear(3)" style="height: 40px;" src="assets/images/filter-remove-teal.png"/>
                    </h5>
                    <ng-multiselect-dropdown class="bg-white" name="themesSelector" [placeholder]="'Elige Temáticas'" [data]="themesList" [(ngModel)]="themesSelector" [settings]="themesSettings" (onSelect)="onChangeTheme($event)"></ng-multiselect-dropdown>

                    <!--<select class="form-control" name="theme" [(ngModel)]="theme" (change)="onChange()">
                        <option *ngFor="let t of themesList" value="{{t.name}}">{{t.name}}</option>
                    </select>-->
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="card bg-light mt-3" style="padding: 10px;">
                    <h5 class="card-title">Conservación
                        <img class="btn" *ngIf="(status != '')" style="background-color: white;" (click)="clear(4)" style="height: 40px;" src="assets/images/filter-remove-teal.png"/>
                    </h5>
                    <select class="form-control" name="status" (change)="onChange()" [(ngModel)]="status">
                        <option *ngFor="let s of stateList" value="{{s}}">{{s}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--ngFor de cards solo si es necesario-->
    <div class="col-lg-9">
        <div id="showResultList" class="row mt-5">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" loading="lazy" *ngFor="let pub of page.data | async">
                <app-card-publication [pubR]='pub'></app-card-publication>
            </div>
        </div>
        <div id="loadMore" *ngIf='!loadAll' class="row mt-2 mb-3"> 
            <button class="btn btn-outline-info" (click)='loadMore()'>
                <i class="fas fa-search-plus"></i> Cargar Más
            </button>
        </div>
    </div>
</div>

<!-- Prueba publications authentication -->
  <!--
    <div>
        <button (click)="getQualityAir()">Cargar </button>
    </div>
  -->
  
<!--
<p>Vista usuario logeado</p>
<p>Identificado único de usuario (UID)</p>
<p>{{ uid }}</p>

   <div>
   <p>
    <div>
        <p>
            <button class="login btn btn-danger" (click)="checkToken()">
                Check Token</button></p>

    </div>
    <div>
        <p>
            <button class="login btn btn-danger" (click)="verifyIdToken()">
                Check Valid Token</button></p>

    </div>
-->