<app-admin-navbar></app-admin-navbar>

<div class="row mt-5"></div>
<div class="row mt-5">
    <div class="col-6">
        <div class="card">
            <a routerLink = "../user_gest" class="card-body text-center">
                <img class="responsive" src="https://i.imgur.com/F1gQkNF.png" alt="" width="42%">
                <div class="card-title mt-3">
                    <h1>Gestión de Usuarios</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <a routerLink = "../publ_gest" class="card-body text-center">
                <img class="responsive" src="https://i.imgur.com/VtB5vMR.png" alt="" width="42%">
                <div class="card-title mt-3"><h1>Gestión de Publicaciones</h1></div>
            </a>
        </div>
    </div>
</div>
