.card:hover {
    background-color: rgb(136, 167, 179);
    color: #ffffff;
    width: 100%;
}

.card{
    transition: all 1s;
    width: 95%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div.card a{
    text-decoration: none;
    color: #222222;
}