<div class="card mr-3 mb-3">
    <img loading="lazy" src="{{pubR.photoURL}}" class="card-img-top" alt="">
    <div class="card-body text-center">
        <h5 class="card-title">{{pubR.title}}</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">{{pubR.graffiter}}</li>
        <li class="list-group-item">
            <div *ngIf="pubR.state == 'Perfect'">
               <span class="badge badge-success">Perfect</span> 
            </div>
            <div *ngIf="pubR.state == 'Legible'">
                <span class="badge badge-warning">Legible</span> 
            </div>
            <div *ngIf="pubR.state == 'Deteriorated'">
                <span class="badge badge-danger">Deteriorated</span> 
            </div>
            <div *ngIf="pubR.state == 'Illegible'">
                <span class="badge badge-dark">Illegible</span> 
            </div>      
        </li>
        <li class="list-group-item">
            <span *ngFor="let st of selectedThemes" class="badge badge-pill badge-secondary mr-1 text-light">{{st}}</span>
        </li>
    </ul>
    <div class="card-body text-center">
        <button type="button" (click)="deletePublication(pubR.pid)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        <button type="button" (click)="openModal()" class="btn btn-success ml-5 opM" data-toggle="modal"><i class="fas fa-pen"></i></button>
    </div>
    <app-photo-modal [pubR]='pubR'></app-photo-modal>
</div>
