<div class="card mr-3 mb-3">
    <img loading="lazy" src="{{pubR.photoURL}}" class="img-fluid rounded" alt="" width="100%">
    <div class="card-body text-center">
        <h5 class="card-title">{{pubR.title}}</h5>
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">{{pubR.graffiter}}</li>
        <li class="list-group-item">
            <div *ngIf="pubR.state == 'Buen Estado'">
               <span class="badge badge-success">Buen Estado</span> 
            </div>
            <div *ngIf="pubR.state == 'Legible'">
                <span class="badge badge-warning">Legible</span> 
            </div>
            <div *ngIf="pubR.state == 'Deteriorado'">
                <span class="badge badge-danger">Deteriorado</span> 
            </div>
            <div *ngIf="pubR.state == 'Ilegible'">
                <span class="badge badge-dark">Ilegible</span> 
            </div>      
        </li>
        <li class="list-group-item">
        <span class="badge badge-pill badge-secondary mr-1 text-light">Tematica</span>
        </li>
    </ul>
    <div class="card-body text-center">
        <button type="button" (click)="deletePublication(pubR.pid)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        <button type="button" class="btn btn-success ml-5 opM" data-toggle="modal"><i class="fas fa-pen"></i></button>
    </div>
    <app-photo-modal [pubR]='pubR'></app-photo-modal>
</div>
