<app-navbar></app-navbar>
<div class="row">
    <div class="col-lg-8">
      <div class="mt-5">
        <img src={{pub?.photoURL}} alt="Graffiti Foto" class="img-fluid rounded" width="100%">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-footer mt-5 mx-4 rounded">
        <div class="card-title">
          <h3>{{pub?.title}}</h3>
          <p>Publicado por: <strong>{{user?.nickName}}</strong></p>
          <p>Graffitero: <strong>{{pub?.graffiter}}</strong></p>
          <div *ngIf="pub?.state == 'Perfect'">
            <p><span class="badge badge-success">{{pub?.state}}</span></p>
          </div>
          <div *ngIf="pub?.state == 'Legible'">
            <p><span class="badge badge-warning">{{pub?.state}}</span></p>
          </div>
          <div *ngIf="pub?.state == 'Deteriorated'">
            <p><span class="badge badge-danger">{{pub?.state}}</span></p>
          </div>
          <div *ngIf="pub?.state == 'Illegible'">
            <p><span class="badge badge-dark">{{pub?.state}}</span></p>
          </div>
          <div *ngIf="miPublicacion()">
            <button class="btn btn-success" data-toggle="modal" data-target="#editPublication">Editar</button>
            <button class="btn btn-danger" style="float: right;" (click)="deletePublication()">Eliminar</button>
          </div>
        </div>
      </div>
      <div class="card-footer mt-2 mx-4 rounded">
        <span *ngFor="let theme of pubThemes" class="badge badge-pill badge-secondary mr-1">{{theme}}</span>
      </div>
      <div class="card-footer mt-2 mx-4 rounded">
        <div *ngIf="isLiked()">
          <button class="btn-social" (click)="unlikePhoto()"><i class="fas fa-heart colorred"></i></button>
          <button class="btn-social"><i class="fab fa-twitter colorblue"></i></button>
        </div>
        <div *ngIf="!isLiked()">
          <button class="btn-social" (click)="likePhoto()"><i class="far fa-heart colorred"></i></button>
          <button class="btn-social"><i class="fab fa-twitter colorblue"></i></button>
        </div>
      </div>
      <div id="map-card" class="card-footer mt-2 mx-4 rounded">
        <app-pub-map [publication]="'pub'" ></app-pub-map>
      </div>
    </div>
  </div>

  
  <div class="mt-5 mx-3">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#makeComment">Comentar</button>
  </div>
  <ul class="list-unstyled mt-5 mx-3">
    <li *ngFor='let c of commentsList' class="media mb-3 bg-light p-4 rounded">
      <img src="{{c?.image}}" class="mr-3 img-fluid rounded-circle" alt="avatar-user" width="6%">
      <div class="media-body">
        <h5 class="mt-0 mb-1">
          <a href="/">{{c?.nick}}</a>
          <small class="ml-4 text-muted">{{c?.timestamp.toDate().toLocaleDateString("es-ES")}}</small>
          <small *ngIf="miComentario(c.cid)" class="btn btn-danger" style="float: right;" (click)="deleteComment(c.cid)"><i class="fas fa-trash-alt"></i></small>
        </h5>
        {{c?.text}}
      </div>
    </li>
  </ul>

  
  <!--Make Comment-->
  <div class="modal fade" id="makeComment" tabindex="-1" aria-labelledby="makeCommentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="makeCommentLabel">Escribir Comentario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="commentArea">Comentario</label>
              <textarea class="form-control" name='cText' [(ngModel)]='cText' id="commentArea" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-link" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="postComment()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Editar Publicación -->

  <div class="modal fade" id="editPublication" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editPublicationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPublication">Editar Publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
              <label for="editTitle">Título</label>
              <input id="editTitle" name="editTitle" type="text" class="form-control" [(ngModel)]="editTitle" placeholder="{{pub.title}}"/>
            </div>
            <div class="form-group">
              <label for="editGraffiter">Grafitero</label>
              <input id="editGraffiter" name="editGraffiter" type="text" class="form-control" [(ngModel)]="editGraffiter" placeholder="{{pub.graffiter}}"/>
            </div>
            <div class="form-group">
              <label for="editState">Estado</label>
              <select id="editState" class="form-control" name="editState" [(ngModel)]="editState">
                <option>Perfect</option>
                <option>Legible</option>
                <option>Deteriorated</option>
                <option>Illegible</option>
            </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-text" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveChanges()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
