img{
    margin: 5px;
    height: 35px;
    float: left;
}

#signOut{
    float: right;
    margin-left: 55%;
}

#panelesAdmin{
    border-color: white;
    background-color: #343a40;
    border-radius: 0 10px 10px 0;
    border-width: 2px;
}