<app-navbar></app-navbar>

<div class="row mt-5">
    <div class="col-lg-9">
        <div class="row">
            <div [ngClass]="(!isFilter)?'col-6':'col-5'">
                <div class="card bg-light" style="padding: 10px;">
                    <h5 class="card-title">Nombre y Apellidos</h5>
                    <input type="text" name="fullName" (input)='applyFilter()' [(ngModel)]="fullName" class="form-control"/>
                </div>
            </div>
            <div [ngClass]="(!isFilter)?'col-6':'col-5'">
                <div class="card bg-light" style="padding: 10px;">
                    <h5 class="card-title">Nombre de Usuario</h5>
                    <input type="text" name="nickName" (input)='applyFilter()' [(ngModel)]="nickName" class="form-control"/>
                </div>
            </div>
            <div class="col-2" style="align-content: center;" *ngIf="isFilter">
                <img class="btn" style="background-color: white;" (click)="resetear()" style="height: 85px;" src="assets/images/filter-remove.png"/>
            </div>
        </div>
        <!--ngFor de cards solo si es necesario-->
        <div id="showResultList" class="row mt-4">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" loading="lazy" *ngFor="let user of usersList">
                <app-card-user-normal [userR]='user'></app-card-user-normal>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <a class="twitter-timeline" href="https://twitter.com/MalagArt_acdei?ref_src=twsrc%5Etfw">
            Tweets by MalagartG
        </a> 
    </div>
</div>

