.conf {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.nav-link.active {
    background-color: #333333;
    color: #ffffff;
}

.nav-link{
    color: #333333
}