<!--Modal Vista Extendida Publicacion-->
<div class="modal fade opM" tableindex="-1" aria-labelledby="editPublicationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Gestión de Publicación</h4>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="pil0 nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">Información</a>
                            <a class="pil1 nav-link" id="v-pills-comments-tab" data-toggle="pill" href="#v-pills-comments" role="tab" aria-controls="v-pills-comments" aria-selected="false">Comentarios</a>
                            <a class="pil2 nav-link mb-2" id="v-pills-likes-tab" data-toggle="pill" href="#v-pills-likes" role="tab" aria-controls="v-pills-likes" aria-selected="false">Likes</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content" id="v-pills-tabContent">

                            <div class="tab-pane fadeM0 show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                                <form>
                                    <div class="form-group">
                                        <label for="titulo">Título</label>
                                        <input type="text" value="{{pubR.title}}" class="form-control" id="inputTitulo" placeholder="{{pubR.title}}">
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="margin-right: 10%;">
                                            <label for="grafitero">Graffitero / Autor</label>
                                            <input type="text" style="padding-right: 100px;" class="form-control" id="inputGrafitero" value="{{pubR.graffiter}}" placeholder="Grafitero">
                                        </div>
                                        <div *ngIf="user$ | async as user" class="form-group">
                                            <label for="uploader">Subida Por (Nick):</label>
                                            <input type="text" style="float: right;" class="form-control" id="inputGrafitero" disabled value="{{user.nickName}}">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="selectEstado">Estado de Conservación</label>
                                        <select class="form-control" id="selectEstadoConservacion">
                                            <option>Perfect</option>
                                            <option>Legible</option>
                                            <option>Deteriorated</option>
                                            <option>Illegible</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectTema">Temas</label>
                                        <select multiple class="form-control" id="sT_{{pubR.pid}}">
                                            <option value="{{t.name}}" *ngFor="let t of themesList">{{t.name}}</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">
                                        Guardar Cambios
                                    </button>
                                </form>
                            </div>

                            <div class="tab-pane fadeM1" id="v-pills-comments" role="tabpanel" aria-labelledby="v-pills-comments-tab">

                            </div>

                            <div class="tab-pane fadeM2" id="v-pills-likes" role="tabpanel" aria-labelledby="v-pills-likes-tab">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade confM" id="confirmationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">¡AVISO!</h5>
            </div>
            <div class="modal-body">
                ¿Está seguro que quiere eliminar este comentario? Si continua los cambios no se podrán deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>