p{
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    font-weight: bolder;
}

#pags{
    justify-content: center;
}

.pagination /deep/ .ngx-pagination .current{
    background: gray;
    border-radius: 100%;
    font-weight: bolder;
}

.pagination /deep/ .ngx-pagination a{
    border-radius: 5px;
    font-weight: bolder;
}

.pagination /deep/ .ngx-pagination a:hover{
    background: turquoise;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}

.pagination /deep/ .ngx-pagination a::after{
    display: none;
}

.pagination /deep/ .ngx-pagination li::before{
    display: none;
}

.pagination /deep/ .ngx-pagination li::after{
    display: none;
}

.pagination /deep/ .ngx-pagination a::before{
    display: none;
}