<!-- Barra de Busqueda -->
<p style="width: 25%;">Filters</p>
<div id="search" class="row">
  <div class="col">
      <form id="filters" class="input-group mb-3 mt-2">
          <input type="text" name="fbPID" [(ngModel)]="fbPID" class="form-control mr-2" placeholder="PID"/>
          <input type="text" name="fbTitle" [(ngModel)]="fbTitle" class="form-control mr-2" placeholder="Title"/>
      </form>
  <!-- <div class="col"> --> 
       <form id="filters" class="input-group mb-3 mt-2">     
          <input type="text" name="fbGraffiter" [(ngModel)]="fbGraffiter" class="form-control mr-2" placeholder="Graffiter"/>
          <input type="text" name="fbState" [(ngModel)]="fbState" class="form-control mr-2" placeholder="State"/>
          <!-- <button class="btn btn-outline-primary" type="submit" >Search</button> -->
      </form>
    <!-- </div> -->
  </div>
</div>

<!-- Cards-->
<div class="row">
  <div class="col-lg-3" *ngFor="let pub of publicationList | filterPublicationAdmin: fbPID : fbTitle : fbGraffiter : fbState : config.totalItems | paginate: config">
    <app-photo-card [pubR]='pub'></app-photo-card>
  </div>
</div>
<div class="row" id="pags">
  <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
</div>