form{
    width: 90%;
    margin-left: 5%;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    width: 30%;
    color: white;
}

#entrar{
    margin-right: 5%;
    background-color: rgba(0, 57, 143, 0.904);
}

#reset{
    background-color: rgba(255, 255, 255, 0.767);
    color: black;
}

#back{
    margin-right: 5%;
    background-color: rgba(11, 139, 90, 0.904);
}

p {
    background-color: rgba(0, 57, 143, 0.795);
    display: inline-block;
    border-radius: 10%;
    width: 100%;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: bold;
    text-align: center;
}