<form #loginForm="ngForm">
    <div class="form-group">
        <input type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        placeholder="Correo Electrónico"
        required>
    </div>

    <div class="form-group">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        required>
    </div>
    <div class="row">
        <div class="col">
            <button id="entrar" class="btn btn-block" (click)='signIn()'>Entrar</button>
        </div>
        <div class="col">
            <button id="back" class="btn btn-block" (click)="goingBack()" >Atrás</button>
        </div>
        <div class="col">
            <button id="reset" class="btn btn-block" type="reset" (click)="resetForm()">Reset</button>
        </div>
        
    </div>
    <label class="text-danger" *ngIf="errorMessage.length > 0">{{errorMessage}}</label>
    <label class="text-danger" *ngIf="error.message.length > 0">{{error.message}}</label>
</form>