<form #loginForm="ngForm"  (ngSubmit)="signIn()">
    <div class="form-group">
        <input type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        placeholder="Correo Electrónico"
        required>
    </div>

    <div class="form-group">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        required>
    </div>
    <div class="form-group">
        <button id="entrar" class="btn" type="submit">Entrar</button>
        <button id="back" class="btn" (click)="goingBack()" >Register</button>
        <button id="reset" class="btn" type="reset" (click)="resetForm()">Reset</button>
    </div>
    <label class="text-danger" *ngIf="errorMessage.length > 0">{{errorMessage}}</label>
    <label class="text-danger" *ngIf="error.message.length > 0">{{error.message}}</label>
</form>