/* You can add global styles to this file, and also import other style files */
.marker {
  background-color: rgb(250, 81, 81);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: aliceblue;
}

.markerUser {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: aliceblue;
}

.markerNoVisited img {
  filter: grayscale(100%);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: aliceblue;
  cursor: pointer;
}

.markerVisited img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(250, 239, 93);
  cursor: pointer;
}
