<ul>
    <li><p style="text-align: center;"><b>¿Quieres entrar? Hazlo con:</b></p></li>
    <li><button class="login btn btn-danger" (click)="changeLog()">
        <i class="fas fa-home"></i>
        Login Normal</button></li>

    <li><button id="facebook" class="btn" (click)="loginFacebook()">
        <i class="fab fa-facebook-square"></i>
        Facebook</button></li>
    <li><a href="" id="twitter" class="btn">
        <i class="fab fa-twitter-square"></i>
        Twitter</a></li>
    <li><a href="" id="google" class="btn">
        <i class="fab fa-google"></i>
        Google</a></li>
</ul>