<app-navbar-register></app-navbar-register>

<section scroll=no class="hero">
    
    <div class="container">
        <div id="bloque">
            <p style="text-align: center;"><b>¡Bienvenido a MalagArt!</b></p>
            <br>
            <img src="https://i.imgur.com/MwuTo4e.png" alt="Graffiti ACDEI | Tu Red Social Artística">
            <p><b>Conoce un mundo nuevo en el que podrás<br>
                interactuar con gente aficionada al arte<br>
                urbano de Málaga.</b></p>
        </div>
        <div id="bloque">
            <ul>
                <li><a href="login" class="login btn btn-danger">
                  <i class="fas fa-home"></i>
                  Login</a></li>
                <li><a href="" class="register btn btn-warning">
                  <i class="fas fa-images"></i>
                  Regístrate</a></li>
            </ul>
        </div>
    </div>
</section>
