<!-- <app-navbar-register></app-navbar-register> -->

<section scroll=no class="hero">
    
    <div class="container">
        <div id="bloque">
            <p style="text-align: center;"><b>¡Bienvenido a MalagArt!
            </b></p>
            <br>
            <img src="https://i.imgur.com/MwuTo4e.png" alt="Graffiti ACDEI | Tu Red Social Artística">
            <p><b>Conoce un mundo nuevo en el que podrás
                interactuar con gente aficionada al arte
                urbano de Málaga.</b></p>
        </div>
        <div id="bloque">
                <app-button-login (passData)="loginVisible($event)" *ngIf="viewButtons != false"></app-button-login>
                <app-login (passData)="loginVisible($event)" *ngIf="viewButtons == false"></app-login>
        </div>
    </div>
</section>