#bloque{
    float: left;
    width: 50%;
    color: white;
    vertical-align: middle;
    margin-top: 15%;
}

p {
    background-color: rgb(255, 187, 0);
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: bold;
}

img{
    height: 25%;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.hero{
    background-image: url("https://d1ez3020z2uu9b.cloudfront.net/imagecache/blog-photos/5615_Fill_800_800.jpg");
    height: 90.2vh;
}

*{
    overflow: hidden;
}

.btn{
    margin-bottom: 10px;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}

.login{
    padding-right: 40%;
}

.register{
    padding-right: 30%;
}