#welcome-text h1 {
  flex: 1;
  font-size: 20pt;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 600;
}

#welcome-text p {
  flex: 1;
  font-size: 14pt;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 600;
  max-width: 500px;
  width: 100%;
}

#welcome-text img {
  flex: 1;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  margin: 20px 0;
  object-fit: contain;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

#ini-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background: url("/assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

#button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(255, 251, 249, 0.856);
}
