<form #userForm="ngForm"  (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <input type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        placeholder="Correo Electrónico"
        required>
    </div>

    <div class="form-group">
        <input type="password"
        class="form-control"
        name="password"
        (ngModel)="password"
        placeholder="Contraseña"
        required>
    </div>
    <div class="form-group">
        <button id="entrar" class="btn" (click)="signIn(userForm)">Entrar</button>
        <button id="back" class="btn" (click)="goingBack()" >Atrás</button>
        <button id="reset" class="btn" type="reset" (click)="resetForm(userForm)">Reset</button>
    </div>
</form>